rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /participants/{participantId} {
      allow create: if request.auth != null;
      allow read: if true;
    }
    
    match /teams/{teamId} {
    	allow create: if true;
      allow update: if true;
      allow delete: if true;
      allow read: if true;
    }
  }
}